//@import "/src/custom-theme.scss";

th {
    color: #153e71;
    width: 20%;
    background: #eee;
}

td {
    width: 30%;
}

table {
    font-size: 10pt;
}

strong.textArALKANZ{
    font-size: 15pt;
    font-weight: bold;
}