//@import "/src/custom-theme.scss";
@import "/src/styles.scss";

table {
    font-size: 10pt;
}


.card {
    background: #eee;
}

.navbar-answer {
    border: 2px solid #153e71;
    border-radius: 7px;
    
    height: 60px;
}

// img
// {
// background-image:url("30402940.jpeg");
// }
