<div *ngIf="!page">
    <div class="row justify-content-center">
        <h1><strong class="text-danger">You are not authorised to access this page.</strong></h1>
    </div>
</div>
<div *ngIf="page">
    <div class="row justify-content-center align-items-center mb-4" *ngIf="add">
        <nav class="navbar navbar-answer col-lg-8 p-2 align-middle text-center">
            <ng-select class="col-lg-4 p-0" [items]="deptVenueDD" appearance="string" [searchable]="true"
                bindLabel="deptVenueName" bindValue="id" [(ngModel)]="deptVenueId" (change)="onchange_deptVenueId()"
                placeholder="Select Dept_Venue" appendTo="body" [closeOnSelect]="true" [multiple]="false">
            </ng-select>
            <ng-select class="col-lg-4 p-0" [items]="baseitemDD" appearance="string" [searchable]="true"
                bindLabel="name" bindValue="id" [(ngModel)]="baseItemId" placeholder="Select Expense Head"
                appendTo="body" [closeOnSelect]="true" [multiple]="false">
            </ng-select>
            <input id="reasonText" class="form-control col-lg-2" [(ngModel)]="sanctionAmount" placeholder="Type Amount"
                type="number">
            <button mat-button mat-raised-button (click)="sanctionBudget()" color="primary">Sanction</button>
        </nav>
    </div>
    <div class="row justify-content-center">
        <input [(ngModel)]="searchText" class="form-control justify-content-center col-lg-8" placeholder="Search" />
    </div>
    <div class="row justify-content-center">

        <div class="text-center col-lg-8 col-sm-12 table-responsive p-0">
            <table class="table table-bordered table-sm">
                <tr class="table-header">
                    <td class="align-middle p-2">Sr No.</td>
                    <td class="align-middle p-2">Dept_Venue</td>
                    <td class="align-middle p-2">Expense Head</td>
                    <td class="align-middle p-2">Sanctioned Amount<br /><span
                        class="badge badge-dark">{{totalamount1 |
                        currency:'INR'
                        :'': '1.0-0'}}</span></td>
                    <td class="align-middle p-2">Used Amount<br /><span
                        class="badge badge-danger">{{totalamount2 |
                        currency:'INR'
                        :'': '1.0-0'}}</span></td>
                    <td class="align-middle p-2">Remaining Amount<br /><span
                        class="badge badge-success">{{totalamount3 |
                        currency:'INR'
                        :'': '1.0-0'}}</span></td>
                    <td class="align-middle p-2" *ngIf="edit">Action</td>
                </tr>
                <tr class="text-center"
                    *ngFor="let m of filteredbudgetSanctionList  | searchExpense: searchText ; let i = index">
                    <td class="align-middle text-left p-2">
                        <div>
                            <h3 class="m-0">{{i + 1}}</h3>
                        </div>
                    </td>
                    <td class="align-middle text-left p-2">
                        <div>
                            <h3 class="m-0">{{m.deptVenueName}}</h3>
                        </div>
                    </td>
                    <td class="align-middle text-left p-2">
                        <div>
                            <h3 class="m-0">{{m.baseItemName}}</h3>
                        </div>
                    </td>
                    <td class="align-middle text-left p-2">
                        <div *ngIf="!m.edit">
                            <h3 class="m-0 text-dark"><b>{{(m.totalAmount != undefined ?
                                    m.totalAmount : 0) |
                                    number: '1.2-2'}}</b></h3>
                        </div>
                        <div *ngIf="m.edit">
                            <input id="reasonText" class="form-control" [(ngModel)]="m.totalAmount" placeholder="Type"
                                type="number">
                        </div>
                    </td>
                    <td class="align-middle text-left p-2">
                        <div>
                            <h3 class="m-0 text-danger"><b>{{(m.totalExpense != undefined ?
                                    m.totalExpense : 0 |
                                    number: '1.2-2')}}</b></h3>
                        </div>
                    </td>
                    <td class="align-middle text-left p-2">
                        <div>
                            <h3 class="m-0 text-success"><b>{{(m.totalAmount != undefined ?
                                    m.totalAmount : 0) - (m.totalExpense != undefined ?
                                    m.totalExpense : 0) |
                                    number: '1.2-2'}}</b></h3>
                        </div>
                    </td>
                    <td class="align-middle p-2" *ngIf="edit">
                        <a class="btn btn-primary btn-sm rounded-circle" (click)="m.edit = !m.edit" title="Edit"
                            role="button" *ngIf="!m.edit"><i class="fa fa-pencil"></i></a>&nbsp;
                        <a class="btn btn-primary btn-sm rounded-circle" (click)="Edit_Budget(m)" title="Save"
                            role="button" *ngIf="m.edit"><i class="fa fa-check"></i></a>&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>