@import "/src/styles.scss";

table {
    font-size: 10pt;
}

// .card {
//     background: #eee;
// }

.navbar-answer {
    border: 2px solid #153e71;
    border-radius: 7px;
    
    height: fit-content;
}

.badge {
    font-size: 11pt;
}