<div class="col-sm-12 col-lg-12 p-1">
    <mat-toolbar class="mat-elevation-z6 page-header-toolbar">
        <span class="pull-left">Budget Management</span>
        &nbsp;
        <label *ngIf="onOffAraz" class="mt-1">Budget Araz By User&nbsp;</label>
        <label class="switch mt-2 pull-right" *ngIf="onOffAraz">
            <input type="checkbox" (change)="changeModuleStatus()" [(ngModel)]="onOffModule">
            <div class="slider round"></div>
        </label>
    </mat-toolbar>
    <br />
    <div class="justify-content-center">
        <nav>
            <div class="nav col-lg-12 m-auto" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active col-lg" id="nav-home-tab" data-toggle="tab"
                    [routerLink]="['/expense/budget-management/budget-araz']" role="tab" aria-controls="nav-home"
                    [attr.aria-selected]="selectedvalue == 1" (click)="selectedvalue = 1">
                    Araz Budget
                </a>
                <a class="nav-item nav-link active col-lg" id="nav-home-tab" data-toggle="tab"
                    [routerLink]="['/expense/budget-management/budget-audit']" role="tab" aria-controls="nav-home"
                    [attr.aria-selected]="selectedvalue == 2" (click)="selectedvalue = 2">
                    Budget Audit
                </a>
                <a class="nav-item nav-link active col-lg" id="nav-home-tab" data-toggle="tab"
                    [routerLink]="['/expense/budget-management/budget-sanction']" role="tab" aria-controls="nav-home"
                    [attr.aria-selected]="selectedvalue == 3" (click)="selectedvalue = 3">
                    Budget Sanction
                </a>
                <a class="nav-item nav-link active col-lg" id="nav-home-tab" data-toggle="tab"
                    [routerLink]="['/expense/budget-management/dept-venue-cash-wallet']" role="tab" aria-controls="nav-home"
                    [attr.aria-selected]="selectedvalue == 4" (click)="selectedvalue = 4">
                    Dept_Venue Wallet
                </a>
            </div>
        </nav>
    </div>
    <br />
    <div class="col-lg-12 col-sm-12">

        <div class="tab-content" id="nav-tabContent">

            <router-outlet></router-outlet>
        </div>
    </div>

</div>