<div *ngIf="!page">
    <div class="row justify-content-center">
        <h1><strong class="text-danger">You are not authorised to access this page.</strong></h1>
    </div>
</div>
<div *ngIf="page">
    <div class="row align-items-center p-2 mb-2">
        <div class="col-lg-12 p-2 text-center">
            <div class="navbar navbar-answer col-lg-12 mb-1">

                <div class="col-lg-10 p-0">
                    <textarea class="form-control col-12" rows="1" [(ngModel)]="csvs"
                        placeholder="Transaction Id CSV"></textarea>
                </div>
                <div class="col-lg-2">
                    <button class="col-lg-5" mat-button mat-raised-button color="warn" (click)="getpendingReport()">Get
                        Report</button>&nbsp;
                    <button class="col-lg-5" mat-button mat-raised-button color="primary"
                        (click)="clear2()">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center pr-5 pl-5 mb-2">
        <div class="col-lg-6 p-2 text-center">
            <div class="navbar navbar-answer col-lg-12 mb-1">
                <div class="input-group">
                    <input placeholder="ITS No" class="form-control" *ngIf="!isShow" type="number"
                        (keyup.enter)="loadData(itsId)" [(ngModel)]="itsId" />
                    <input placeholder="ITS No" class="form-control" type="number" *ngIf="isShow"
                        (keyup.enter)="loadData(itsId)" [(ngModel)]="itsId" readonly />
                    &nbsp;&nbsp;
                    <button mat-button mat-raised-button color="primary" (click)="loadData(itsId)">Search</button>&nbsp;
                    <button mat-button mat-raised-button color="warn" (click)="clear()">Clear</button>
                </div>
            </div>
            <div *ngIf="isShow" class=" navbar navbar-answer col-lg-12 mb-1">
                <span><b>Name:</b>&nbsp;&nbsp;{{name}}</span>
            </div>
            <div *ngIf="isShow" class=" navbar navbar-answer col-lg-12 mb-1">
                <span><b>Current Program:</b>&nbsp;&nbsp;{{program}}</span>
            </div>
        </div>
        <div *ngIf="isShow" class="navbar col-lg-1 p-0 justify-content-center">
            <img src="https://www.mahadalzahra.org/uploads/Its_Photos/{{itsId}}.jpeg"
                onerror="this.src=`https://www.its52.com/GetImage.aspx?ID=HJRjRIqk4b8=&G=M`" width="85" height="100"
                class="img-responsive img-thumbnail" />
        </div>
        <div *ngIf="isShow" class="col-lg-5 p-0 pt-lg-1">
            <div class=" navbar navbar-answer col-lg-12 mb-1">

                <mat-form-field class="col-lg-12">
                    <input class="col-lg-12" matInput [matDatepicker]="paymentDate" [(ngModel)]="reciept.chequeDate1"
                        readonly placeholder="Payment Date" />
                    <mat-datepicker-toggle matSuffix [for]="paymentDate"></mat-datepicker-toggle>
                    <mat-datepicker #paymentDate></mat-datepicker>
                </mat-form-field>

            </div>
            <div class=" navbar navbar-answer col-lg-12 mb-1">

                <input placeholder="Type Transaction ID" class="form-control" type="text"
                    [(ngModel)]="reciept.reference" />

            </div>
            <div class=" navbar navbar-answer col-lg-12 mb-1" *ngIf="feeallocatedDD.length == 0">
                <h2 class="col-lg-12 text-center align-middle m-0"><strong class="text-danger
                ">No Amount Due</strong></h2>
            </div>
            <div class=" navbar navbar-answer col-lg-12 mb-1" *ngIf="feeallocatedDD.length != 0">

                <ng-select class="col-lg-12 p-2 pr-3 pl-3 mb-2" [items]="feeallocatedDD" appearance="string"
                    [searchable]="true" bindLabel="name" bindValue="id" (change)="setFeePaid()" [(ngModel)]="selectedId"
                    placeholder="Select Fee Allocated" appendTo="body" [closeOnSelect]="true" [multiple]="false">
                </ng-select>

                <div class="text-center col-lg-12 col-sm-12 table-responsive">
                    <table class="table table-bordered table-sm">
                        <tr class="table-header">
                            <td class="align-middle">Program</td>
                            <td class="align-middle">Amount</td>
                            <!-- <td class="align-middle"> Action</td> -->
                        </tr>
                        <tr class="text-center" *ngFor="let m of feePaidList">
                            <td class="align-middle p-2">{{m.name}}</td>
                            <td class="align-middle p-2">
                                <div *ngIf="!edit">{{m.amount}}</div>
                                <div *ngIf="m.id == feePaidList.length">
                                    <input *ngIf="edit" (change)="amountChange(m.id!,m.amount!)"
                                        placeholder="Type Amount" [(ngModel)]="m.amount" class="form-control"
                                        type="number" />
                                </div>
                                <div *ngIf="m.id != feePaidList.length">
                                    <input *ngIf="edit" placeholder="Type Amount" class="form-control" type="number"
                                        [ngModel]="m.amount" readonly />
                                </div>

                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class=" navbar navbar-answer col-lg-12 mb-1">

                <h2 class="col-lg-12 text-center align-middle m-0">Total Amount:<strong class="text-danger
                ">&nbsp;{{totalAmount}}</strong></h2>

            </div>
            <div class=" navbar navbar-answer col-lg-12 mb-1">
                <textarea class="form-control" [(ngModel)]="reciept.note" placeholder="Note"></textarea>
            </div>
            <div class=" navbar navbar-answer justify-content-center col-lg-12 mb-1">
                <span>
                    <button mat-button mat-raised-button color="warn" (click)="submitReciet()">Submit</button>
                </span>
            </div>
            <!-- <div class=" navbar navbar-answer justify-content-center col-lg-12 mb-1" *ngIf="isPrint">
                <span>
                    <button mat-button mat-raised-button [printStyle]="{table : {'padding': '10px'}}" class="customized"
                        color="warn" printSectionId="printOriginalTable" ngxPrint>Print
                        Original</button>
                </span>
            </div> -->
        </div>
    </div>

    <div *ngIf="isShow" class="btn-group pb-2 pt-2">
        <div class="row justify-content-start">

            <div class="col-lg col-sm-6 p-1">
                <button mat-button mat-flat-button color="accent">
                    Alloted&nbsp;&nbsp;
                    <span class="badge badge-primary" [innerText]="allocated"></span>
                </button>
            </div>
            <div class="col-lg col-sm-6 p-1">
                <button mat-button mat-flat-button color="accent">
                    Paid&nbsp;&nbsp;
                    <span class="badge badge-success" [innerText]="paid"></span>
                </button>
            </div>
            <div class="col-lg col-sm-6 p-1">
                <button mat-button mat-flat-button color="accent">
                    Waived&nbsp;&nbsp;
                    <span class="badge badge-info" [innerText]="waived"></span>
                </button>
            </div>
            <div class="col-lg col-sm-6 p-1">
                <button mat-button mat-flat-button color="accent">
                    Reversed&nbsp;&nbsp;
                    <span class="badge badge-info" [innerText]="reversed"></span>
                </button>
            </div>
            <div class="col-lg col-sm-6 p-1">
                <button mat-button mat-flat-button color="accent">
                    Due&nbsp;&nbsp;
                    <span class="badge badge-danger" [innerText]="balance"></span>
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="isShow" class="row">
        <div class="text-center col-lg-12 col-sm-12 table-responsive">
            <table class="table table-bordered table-sm">
                <tr class="table-header">
                    <td class="align-middle p-2">ID</td>
                    <td class="align-middle p-2">Reference</td>
                    <td class="align-middle p-2">Date & Time</td>
                    <td class="align-middle p-2">Hub Allocated</td>
                    <td class="align-middle p-2">Hub Paid</td>
                    <td class="align-middle p-2">Balance</td>
                    <td class="align-middle p-2">Payment Type</td>
                    <td class="align-middle p-2">Note</td>
                    <td class="align-middle p-2">CreatedBy</td>
                </tr>
                <tr class="text-center" *ngFor="let m of leaders">
                    <td class="align-middle p-2">{{m.id}}</td>
                    <td class="align-middle p-2">{{m.reference}}</td>
                    <td class="align-middle p-2">{{m.dateTime | date}}</td>
                    <td class="align-middle p-2">{{m.debit}}</td>
                    <td class="align-middle p-2">{{m.credit}}</td>
                    <td class="align-middle p-2">{{m.balance}}</td>
                    <td class="align-middle p-2">{{m.paymentType}}</td>
                    <td class="align-middle p-2">{{m.note}}</td>
                    <td class="align-middle p-2">{{m.createdBy}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>