//@import "/src/custom-theme.scss";
@import "/src/styles.scss";

.navbar-header {
    background: #eee;
    border-radius: 7px;
    font-size: 11pt;
}

.navbar-header1 {
  background: #eee;
  border-radius: 7px;
  font-size: 10.5pt;
}

.navbar-category {
  background: rgba(128,128,128,1);
  color: white;
  border-radius: 7px;
  font-size: 11pt;
}

.navbar-status {
  background: rgba(0,128,0,0.3);
  border-radius: 7px;
  font-size: 11pt;
}

.customized.mat-button.mat-primary{
  background-color: rgba(57,87,33,255);
}

.section.mat-button.mat-primary{
  background-color: #296E85;
}

.navbar-answer {
    //border: 1px solid #fff176;
    border-radius: 5px;
    background: #eee;
    //height: 60px;
}

.navbar-answer2 {
  //border: 1px solid #fff176;
  border-radius: 5px;
  background: #eee;
  font-size: 11pt;
  //height: 60px;
}

.badge {
  font-size: 11pt;
}

@media only screen and (min-width: 992px) {
  .sticky-header {
    position: sticky;
    top: 63px;
  }
}



.bg-tayeen {
  background: ghostwhite;
}

.bg-non-tayeen {
  background: rgba(173,216,230,0.3);
}

.bg-recruited {
  background: rgba(254,216,177,0.4);
}

.bg-teacher {
  background: rgba(255, 255, 0,0.3);
}

.bg-other-idara {
  background: rgba(0,128,0,0.2);
}

.modal-toolbar {
  height: 50px;
  background: #eee;
  color: #153e71;
  font-weight: bold;
}

#stdphoto{


  transition: transform .2s; /* Animation */

  margin: 0 auto;
}

#stdphoto:hover{
  transform: scale(1.7);
}

.anything.ngx-copy-to-clipboard{
  background: #153e71;
}

span.btn {
  border-radius: 5px 0px 0px 5px;
}

/* Copy paste */
.coupon-applied {
  border-color: green !important;
  background: #bdffb4;
}

.InActive {
  background: rgba(255, 99, 71, 0.7);
}



