@import "/src/styles.scss";

.card{
    border: 1px solid #153e71;
    background: #eee;
}

.navbar-answer {
    border       : 2px solid #153e71;
    border-radius: 7px;
    font-size    : 11pt;
    height       : fit-content;
}

// .mainCard{
//     height: 360px;
// }